<main class="main_container">
  <div class="currency_converter__container">
    <h1 class="currency_converter__title">{{ title }}</h1>

    <ul class="currency_list">
      <li
        *ngFor="let currency of currencyInfoList"
        [ngClass]="{ currency_item: true, focus: currency.code === base }"
      >
        <div class="currency_item__left-side">
          <img [src]="currency.flag" alt="flag" class="currency_item__img" />

          <p class="currency_item__symbol">
            {{ currency.symbol }}
          </p>
        </div>

        <input
          #newAmount
          [attr.name]="currency.code"
          [ngModel]="currency.totalAmount"
          (ngModelChange)="changeAmount(newAmount.value, newAmount.name)"
          class="amount_input"
        />
      </li>
    </ul>
    <p class="currency_converter__subtitle">
      *конвертер валют типичного русского релоканта
    </p>
  </div>
</main>
<router-outlet />
